<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>회원가입 폼</title>
</head>

<body>
<h1>회원가입</h1>
<form action="/join" method="POST">

    <label for="id">Id</label>
    <input placeholder="Id" autofocus type="text" id="id" name="id">

    <label for="password">Password</label>
    <input placeholder="Password" autofocus type="text" id="password" name="password">

    <label for="email">Email</label>
    <input placeholder="E-mail" autofocus type="text" id="email" name="email">

    <button>회원가입</button>

</form>
</body>
</html>